body {
  --primary-01: #3708b2;
  --primary-01-hovered: #5f39c1;
  --primary-02: #dacef9;

  --layout-surface-01: #ffffff;
  --layout-surface-02: #f5f5f5;

  --support-success: #ccecd1;
  --support-warning: #fce3cc;
  --support-error: #ffdddd;
}
